﻿@model IEnumerable<Contacts.Services.Entities.Contact>

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach(var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.Number) <br />

        @using (Html.BeginForm("Delete", "Contacts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                <input name="id" value="@item.Id" hidden />
                <input type="submit" value="Delete" class="btn btn-default"/>
            </div>
        }
    </div>
}
