﻿@using map = Contacts.Services.Entities;
@model IEnumerable<map::Person>
@{
    ViewBag.Title = "Index";
}

<h2>People</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />

@foreach (var person in Model)
{
    <div class="well">
        <h3>@person.FirstName</h3>
        <h3>@person.LastName</h3>
        <h4>Contacts</h4>
        @if (person.Contacts.Any())
        {
            foreach (var contact in person.Contacts)
            {
                <h5>@contact.Number</h5>
            }
        }
    </div>

    using (Html.BeginForm("Delete", "People", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            <input name="id" value="@person.Id" hidden />
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    }
    <hr />
}
